/* src/styles.module.css */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #282c34;
}

.expandButton, .backButton {
  margin-bottom: 20px;
  padding: 10px 20px;
  background: hotpink;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.backButton {
  background:blue;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.name {
  font-size: 14px;
}
